# backend
flask
#flask-appbuilder
flask_apscheduler
flask_admin
gunicorn
python-dotenv

# plot
plotly

#db
psycopg2-binary
flask-sqlalchemy
sqlalchemy=="1.4.47"

# jobs
rq
rq-scheduler

# net
requests

# sensors for orangepi pc
#w1thermsensor
#smbus2
