# backend
flask
#flask-appbuilder
flask_apscheduler
flask_admin
gunicorn
python-dotenv

#db
psycopg2-binary
flask-sqlalchemy

# jobs
rq
rq-scheduler

# net
requests

# sensors for orangepi pc
#w1thermsensor
#smbus2
