[Unit]
Description=Collect sensor data and Narodmon Sender
After=multi-user.target

[Service]
WorkingDirectory=/home/userad/
User=root
ExecStart=/home/userad/projects/orangepi-wstation/sensor-app.sh start
#ExecStart=/root/projects/orangepi-wstation/venv/bin/python /root/projects/orangepi-wstation/app.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target